/* Basis for this from: 
https://github.com/chrisblakely01/react-creating-a-table/blob/main/src/App.css */

.app-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 2px solid #000000;
  text-align: left;
  padding: 10px;
  font-size: 30px;
}

th {
  background-color: rgb(47, 192, 120);
}

td {
  background-color: rgb(28, 121, 75);
}

form {
  display: flex;
  gap: 7px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 22px;
}

.modal-close{
  float: right;
  background-color: transparent;
  background-image: url("components/close.jpeg");
  background-size: 50px;
  font-family:sans-serif;
  width: 50px;
  height: 35px;
  border: transparent;
}