.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  border: 0.5px solid #000000;
  text-align: left;
  padding: 5px;
  font-size: 20px;
}

th {
  background-color: gainsboro;
}

td {
  background-color: whitesmoke;
}

form {
  display: inline-block;
  gap: 7px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 18px;
}


/* Below is formatting for the accordion styling for the semesters. */

.accordion { /* Default State of the accordion */
  background-color: aliceblue;
  color:blueviolet;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  border:none;
  outline:none;
  transition: 0.45s;
}

.active, .accordion:hover{ /*When the button is clicked, or a mouse is hovering over the button */
  background-color: cornsilk;
}

.panel { /*Styling for the dropped down panel */
  padding: 0 20px;
  background-color: whitesmoke;
  display: none;
  overflow: hidden;
}