.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  border: 0.5px solid #000000;
  text-align: left;
  padding: 5px;
  font-size: 20px;
}

th {
  background-color: silver;
}

td {
  background-color: whitesmoke;
}

form {
  display: inline-block;
  gap: 7px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 18px;
}

.delete-class {
  float: right;
  background-color: transparent;
  background-image: url("assets/delete.jpeg");
  background-size: 52px;
  font-family:sans-serif;
  width: 70px;
  height: 60px;
  border: transparent;
  opacity: .6;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.delete-class:hover {
  opacity: 1.0;
}

.edit-class {
  float: right;
  background-color: transparent;
  background-image: url("assets/edit.png");
  background-size: 45px;
  font-family:sans-serif;
  width: 70px;
  height: 60px;
  border: transparent;
  opacity: 0.6;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.edit-class:hover {
  opacity: 1.0;
}

.save-class {
  float: right;
  background-color: transparent;
  background-image: url("assets/save.png");
  background-size: 45px;
  font-family:sans-serif;
  width: 70px;
  height: 60px;
  border: transparent;
  opacity: .6;;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.save-class:hover {
  opacity: 1.0;
}

.cancel-class{
  float: right;
  background-color: transparent;
  background-image: url("assets/delete.jpeg");
  background-size: 52px;
  font-family:sans-serif;
  width: 70px;
  height: 60px;
  border: transparent;
  opacity: .6;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.cancel-class:hover{
  opacity: 1.0;
}

.modal-close {
  float: right;
  background-color: transparent;
  background-image: url("assets/delete.jpeg");
  background-size: 30px;
  font-family:sans-serif;
  width: 50px;
  height: 35px;
  border: transparent;
  opacity: .6;
  background-repeat: no-repeat;
  background-position-y: 5px;
}

.modal-close:hover {
  opacity: 1.0;
}

.refresh-logo {
  background-image: url("assets/UD-logo.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: transparent;
  width: 100px;
  height: 110px;
}


.welcome-message{
  position: relative;
  background-size: 600px;
  background-repeat:no-repeat;
  border-radius: 25px;
  padding: 4px;
}

.welcome-message-body {
  text-align: center;
}

.welcome-message-header {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 15px;
  padding: 4px; 
  margin-right: 3px;
}

.sidebar-header{
  text-align: center;
font-weight: bold;
padding-bottom: 10px;
padding-top: 15%;

}

.full-column{
  border-style: solid;
  border-left-color: rgba(10, 10, 10, .3);
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  height: 100%;
  background-color: rgba(23, 1, 50, .05);
}

.add-class{
  float: right;
  background-color: transparent;
  background-image: url("assets/add.png");
  background-size: 30px;
  font-family:sans-serif;
  width: 50px;
  height: 35px;
  border: transparent;
  opacity: .6;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.add-class:hover {
  opacity: 1.0;

}


.edit-semester{
  padding: 0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius: 25px;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:black;
  font-weight: bold;
  background-color:lightgrey;
  text-align:center;
  border-color: transparent;
}

.edit-semester:hover{
  background-color: lightslategrey;
}

.clear-classes{
  float: right;
  background-color: transparent;
  background-image: url("assets/trash.jpeg");
  background-size: 30px;
  font-family:sans-serif;
  width: 50px;
  height: 35px;
  border: transparent;
  opacity: .6;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.clear-classes:hover{
  opacity: 1.0;
}

.delete-semester{
  float: right;
  background-color: transparent;
  background-image: url("assets/delete.jpeg");
  background-size: 30px;
  font-family:sans-serif;
  width: 50px;
  height: 35px;
  border: transparent;
  opacity: .6;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.delete-semester:hover{
  opacity: 1.0;
}

/*Below is for the accordion */
.accordion { /* Default State */
  background-color: rgb(230, 230, 230);
  color:rgb(0, 0, 0);
  cursor: cursor;
  padding: 2px;
  width: 70%;
  text-align: left;
  border: 5px;
  outline: 5px;
  transition: 0.45s;
}

.active, .accordion:hover{ /*When the button is clicked, or a mouse is hovering over the button */
  background-color: rgb(101, 145, 226);
}

.page-header{
  background-color: lightgrey;
  text-align: center;
  border-radius: 15px;
}
